<div class="container">
<div class="jumbotron primaryColor">
  <h1 class="text-center">Elder Davie's Koolaid Kart</h1>
</div>
  <div class="row">
    <div class="col-sm-9">
      <new-juice (newJuiceSender)="addJuice($event)" ></new-juice>
    </div>
    <div class="col-sm-3 align-right">
      <filter-juice (filterSender)="filter($event)"></filter-juice>
    </div>
  </div>
  <!-- Add Keg -->

  <!-- filter Keg -->

  <!-- show Keg -->
  <juices [freshjuice]="freshjuice" [filterAttribute]="filterAttribute" [sizes]="sizes" (selectedKegSender)="editKeg($event)"></juices>

  <!-- Update Keg -->
  <edit-juice [childSelectedKeg]="selectedKeg"></edit-juice>
  </div>
