<div class="" *ngIf="childSelectedKeg">
  <label for="name">Name</label>
  <input [(ngModel)]="childSelectedKeg.name" id="name">

  <label for="flavor">Flavor town</label>
  <input [(ngModel)]="childSelectedKeg.flavor" id="flavor">

  <label for="price">Price</label>
  <input [(ngModel)]="childSelectedKeg.price" id="price">

  <label for="secretIngredient">Secret Ingredient</label>
  <input [(ngModel)]="childSelectedKeg.secretIngredient" id="secretIngredient">
  <button (click)="hideEdit()" class="btn secondaryColor">Save</button>
</div>
