<div class="row">
  <!-- <div *ngFor="let juice of freshjuice"> -->
  <div *ngFor="let juice of freshjuice | filter:filterAttribute">

    <div class="panel col-sm-4">

       <div class="panel-heading primaryColor" (click)="selectKeg(juice)">
        <h1>{{juice.name}}</h1>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-8">
            <h3>Flavor: {{juice.flavor}}</h3>
            <span>Secret Ingredient: {{juice.secretIngredient}}</span>
            <div class="kegQuantity">
              <span>{{tapped(juice.quantity)}}</span><span> ounces remaining</span>
            </div>
            <h3>${{calculatedPrice}}</h3>
          </div>
          <div class="col-sm-4">
            <div class="meter">
              <div id="meterLevel" [class]="kegLevel(juice.quantity)" [style.height.%]="kegMeter(juice.quantity)">
              </div>
            </div>
          </div>
        </div>
        <purchase (purchaseSender)="getServed(juice, $event)" (sizeSender)="surgePrice(juice, $event)"[sizes]="sizes"></purchase>
      </div>
    </div>
  </div>
</div>
