<div class="row">
  <div *ngFor="let juice of freshjuice | filter:filterAttribute">
    <div class="panel col-sm-4">

     <div class="panel-heading primaryColor" (click)="editKeg(juice)">
      <h1 [class]="kegLevel(juice.quantity)">{{juice.name}}</h1>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-8">
          <h3>Flavor: {{juice.flavor}}</h3>
          <span>Secret Ingredient: {{juice.secretIngredient}}</span>
          <div class="kegQuantity">
            <span [class]="kegLevel(juice.quantity)">{{tapped(juice.quantity)}}</span><span> ounces remaining</span>
          </div>
          <h3>{{surgePrice(juice)}}</h3>
        </div>
        <div class="col-sm-4">
          <div class="meter">
            <div class="meterLevel" [style.height.%]="kegMeter(juice.quantity)">

            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <label for="size">Select a size</label>
        <div class="input-group">
          <select class="form-control" id="size" [(ngModel)]="size" name="size">
            <option *ngFor="let size of displaySizes" [value]="size">{{size}}</option>
          </select>
          <span class="input-group-btn"><button (click)="getServed(juice, size)" class="btn">Purchase</button></span>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
