  <div class="col-sm-6" [ngSwitch]="addKeg">
      <div class="form-group" *ngSwitchCase="true">

      <label for="name">Name</label>
      <input #name id="name" class="form-control">

      <label for="flavor">Flavor town</label>
      <input #flavor id="flavor" class="form-control">

      <label for="price">Price</label>
      <input #price id="price" class="form-control">

      <label for="secretIngredient">Secret Ingredient</label>
      <input #secretIngredient id="secretIngredient" class="form-control">
      <button (click)="newJuice(name.value, flavor.value, price.value, secretIngredient.value)" class="btn secondaryColor">Add</button>
    </div>
    <div class="" *ngSwitchDefault>
      <button (click)="showAdd()" class="btn btn-lg secondaryColor">Add a Keg</button>
    </div>
  </div>
